@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');

body {
	font-family: "Alegreya", serif;
}

/*intro overlay==================================*/
.overlay {
	width: 100%;
	height: 100vh;
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;

	h1 {
		font-size: 3.5rem;
		color: orange;
	}

	img {
		width: 30%;
	}

}

.fading {
	animation: fade 1s linear forwards;
}

@keyframes fade {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		display: none;
	}

}

/*navbar==================================*/
nav {
	position: sticky !important;
	top: 0;
	z-index: 4;
}

nav {
	.navbar-brand {
		width: 5%;

		img {
			width: 100%;
		}

	}

	.search_btn svg,
	.cart_btn svg {
		color: white;

		&:hover {
			color: #fa9b25;
		}

	}

	.nav-item a:hover {
		color: #fa9b25 !important;
	}

	.toggler_btn {
		background: transparent;
		display: none;

		svg {
			color: white;
		}

	}

	.navbar-collapse {
		transition: all 0.5s;
	}

	#site_name {
		display: none;
	}
	#cart_info{
		
	}

}

/*welcome==================================*/
#welcome {

	/*	font-family: "Merienda", cursive;*/
	height: 100%;

	h3 {
		text-align: center;

		span {
			color: rgb(250 152 38);
		}

	}

	img {
		width: 100%;
	}

	#shopping {
		background: url("blob.png");
		background-repeat: no-repeat;
		background-position: center;
		height: 100%;

		img {
			width: 100%;
		}

	}

}

/*product cards==================================*/
.card {
	width: 100%;
	height: 100%;
	border: none;
	box-shadow: 0px 0px 3px 0px;

	& img {
		width: 95%;
		aspect-ratio: 1 / 0.7;
		margin: auto;
	}

	.name {
		font-size: 1.3rem;
	}

	.desc {
		font-size: 0.8rem;
	}

	sup {
		font-size: 0.50em;
		top: -.2em;
	}

	.rating {
		& svg {
			color: green;
		}

		.raters {
			float: right;
		}

	}

	.price {
		font-size: 1.5rem;
	}

	.buttons {
		a {
			width: 50%;
		}

	}

}

/*cart==================================*/
.offcanvas {
	transition: all 0.5s;

	.offcanvas-body {
		background-image: url(./cart.gif);
		background-position: center;
		background-size: 100%;
		background-repeat: no-repeat;

		/*cart==================================*/
		#the_cart {
			display: flex;
			            align-items: center;
			gap: 1rem;
			            padding: 0.5rem;
            margin-top: 0.5rem;
			    border: 0.5px solid grey;
			    transition:all 0.3s;
			    &:hover{
			    	background:#80808017;
			    }

			& img {
				width: 30%;
			}

			& p {
				color: black;
				font-weight: bold;
				margin: 0;
			}
			button{
				border:none;
				background:none;
				transition:all 0.3s;
				&:hover{
					color:red;
					transform:scale(1.2);
				}
			}

		}

		#check_btn {
			position: sticky;
			bottom: 0;
			display: none;
		}

	}

}

/*user modal==================================*/
.modal_body {
	.btns {
		border: none;
		background: none;
		width: 50%;
		margin-bottom: 0.5rem;
	}

	.addborder {
		border-bottom: 2px solid black;
	}

	.hidden_class {
		display: none;
	}

}

/*responsive==================================*/
@media screen and (max-width:990px) {
	nav {
		.toggler_btn {
			display: block;
		}

		.dropdown-menu {
			background: transparent;
			border: none;

			& li a,
			h5 {
				color: white;
			}

		}

		#site_name {
			display: block;
			font-size: 1.7rem;
		}

	}

	#cart_user button {
		border: 1px solid white;
		width: 45%;
		margin: 5px auto;
	}

	#welcome h3 {
		font-size: 1.2rem;
	}

}
